*,
*::before,
*::after {
	box-sizing: border-box;
}
::selection {
	background: #bd8372;
}
:root {
	--main-black: rgb(31, 30, 30);
	--main-white: rgb(228, 228, 228);
	--letter-black: rgb(44, 44, 44);
	--main-red: rgb(167, 37, 9, 1);
	--main-red-light: rgb(167, 37, 9, 0.5);
	--game-zero: linear-gradient(
		to top,
		#f0f0e6,
		#f3e6d9,
		#e7d5c0,
		#dac5a7,
		#ccb58f
	);
	--game-one: #95afc1;
	--game-two: linear-gradient(
		to bottom,
		#f1f1e7,
		#e8e9de,
		#e0e2d6,
		#d7dacd,
		#f0f0e6
	);
	--game-three: #95afc1;
	--game-four: #9baebc;
	--loose-color: rgb(198, 179, 178, 1);
	--win-color: rgb(208, 191, 159, 1);
	--grad-1: linear-gradient(
		90deg,
		rgba(152, 50, 17, 1) 0%,
		rgba(178, 50, 74, 1) 100%
	);
	--grad-2: linear-gradient(
		90deg,
		rgba(255, 247, 242, 1) 0%,
		rgba(210, 180, 140, 1) 100%
	);
	--grad-3: linear-gradient(
		9deg,
		rgba(189, 166, 159, 1) 0%,
		rgba(170, 41, 0, 1) 100%
	);
	--grad-4: radial-gradient(
		circle,
		rgba(163, 207, 205, 1) 0%,
		rgba(218, 197, 187, 1) 100%
	);
	--grad-4: linear-gradient(
		to bottom,
		#fdf7f2,
		#f3e6d9,
		#e7d5c0,
		#dac5a7,
		#ccb58f
	);
	/* wheel of luck */
	--diameter: 350px;
	--radius: calc(var(--diameter) / 2);
	--slice1-color: #2ec540;
	--slice2-color: #ffd984;
	--slice3-color: #00a4ff;
	--slice4-color: #fe5a00;
}

html,
body {
	min-height: 100vh;
}
body {
	margin: 0;
	font-family: 'Proza Libre', sans-serif;
}

/* General Styles */
.bigLetter {
	font-style: italic;
	color: var(--letter-black);
}

.input {
}
/* firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.btn {
}
.letter__red {
	color: var(--main-red);
}
.letter__white {
	color: var(--main-white);
}
.letter__black {
	color: var(--letter-black);
}

.tilted-border {
	position: relative;
	transition: all ease-in 0.4s;
}
.tilted-border::before {
	pointer-events: none;
	content: '';
	position: absolute;
	width: 12rem;
	height: 4rem;
	border: 1px solid var(--main-red);
	transform: rotate(4deg);
	transition: all ease-in 0.4s;
	background: transparent;
}
.tilted-border:hover::before {
	transform: rotate(0deg);
	transition: all ease-in 0.4s;
	background: transparent;
}
.win__color {
	background-color: var(--win-color);
}
.loose__color {
	background-color: var(--loose-color);
}

/* User Login */
.loginWrapper {
	position: relative;
	transition: all ease-in 1s;
	z-index: 1;
	background-color: var(--main-black);
}
.login__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../images/loginBackground1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(2px);
	z-index: -1;
}

.login {
	position: relative;
	/* border: 1px solid red; */
	height: 100vh;
	padding-top: 5%;
}
.login__clue {
	position: relative;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 4rem;
	font-weight: bold;
	text-decoration-line: overline;
	text-decoration-color: var(--main-red);
}

.login__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.inputWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login__username,
.login__password {
	margin-bottom: 1rem;
	outline: none;
	border: none;
	height: 4rem;
	width: 12rem;
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
}

.login__svg--hor {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-bottom: 2rem; */
}
.login__svg--vert {
	margin: 3rem 2rem;
}
.login__btn {
	display: none;
	outline: none;
	border: none;
}
.enterDiv {
	font-size: 3rem;
	font-weight: bold;
	color: var(--main-red);
	letter-spacing: 0px;
	transition: all 320ms ease-in-out;
	cursor: pointer;
}
.login__btn:hover ~ .enterDiv {
	letter-spacing: 7px;

	/* border: 1px solid var(--main-red); */
	background-color: rgba(250, 249, 249, 0.2);
	text-decoration-line: overline;
}
.login__btn:focus ~ .enterDiv {
	letter-spacing: 7px;
}
.login__btn:active ~ .enterDiv {
	letter-spacing: 7px;
	background-color: rgba(250, 249, 249, 0.2);
	text-decoration-line: overline;
	text-decoration-color: var(--main-white);
}
.login__hint {
	position: relative;
	width: 2rem;
	height: 2rem;
	color: var(--main-red);
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}
.login__hint:hover::after {
	content: '3334';
	position: absolute;
	left: 2rem;
}
.login__wrong-pass {
	transition: all ease-out 2s;
	margin: 0 auto;
	margin-top: 3rem;
	font-weight: bold;
	text-align: center;
	color: var(--main-red);
}

/* Welcome Message */
.login__welcome-msg {
	transition: all ease-out 3s;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login__welcome-txt {
	font-size: 3.5rem;
	color: var(--main-red);
	text-decoration-line: overline;
	text-decoration-color: var(--main-black);
	text-align: center;
	transition: all ease-out 3s;
}

/* Header*/
header {
	background-color: var(--main-black);
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 1.5rem;
	flex-wrap: wrap;
	color: var(--main-white);
}

.player__number {
	font-weight: bold;
}
.player__name {
	font-style: italic;
	font-weight: bold;
	margin-left: 1rem;
}
.word__emph {
	font-weight: bold;
}

/* navigation */
.nav__container {
	position: sticky;
	top: 0%;
	z-index: 10;
}
.top__nav {
	height: 5rem;
	background-color: var(--main-black);
	display: grid;
	grid-template-columns: auto 1fr;
	position: sticky;
	top: 0%;
	align-items: center;
}
.nav__logo {
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-white);
	font-style: italic;
	font-size: 3rem;
	margin-left: 1rem;
}
.nav__ul {
	/* border: 1px solid yellow; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	color: var(--main-white);
	transition: all ease 0.3s;
}
.nav__ul > li {
	position: relative;
	transition: all ease 1s;
	font-size: 1.3rem;
	list-style-type: none;
	border-top: 2px solid transparent;
}
.nav__li-about {
	list-style-image: url('../images/clover.png');
}
.nav__li-game {
	list-style-image: url('../images/heart.png');
}
.nav__li-carousel {
	list-style-image: url('../images/spade.png');
}
.nav__li-contact {
	list-style-image: url('../images/diamond.png');
}

.nav__ul > li:hover {
	border-top: 2px solid var(--main-red);
	/* text-decoration-line: overline; */
	text-decoration-color: var(--main-red);
	cursor: pointer;
}

#burger__check {
	display: none;
}
.main__balance {
	font-weight: bold;
	background-color: var(--main-red);
	color: var(--letter-black);
	padding: 0.3rem;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.player__balance {
	font-size: 1.3rem;
	background-color: rgb(228, 211, 211, 0.5);
	margin-left: 1rem;
	margin-right: 1rem;
}

.about__container {
	padding: 1rem;
	background: var(--game-two);
}
.about__svg {
	padding: 1rem;

	text-align: center;
}
.about__svg > img {
	max-width: 100%;
	max-height: 5rem;
}

.about {
	border-top-left-radius: 120px 24px;
	border-top-right-radius: 120px 24px;
	border-bottom-left-radius: 120px 24px;
	border-bottom-right-radius: 120px 24px;
	border: 4px solid var(--main-red);
	min-height: 40vh;
	padding: 2rem;
	background: var(--game-zero);
}

.about__title {
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	letter-spacing: 0.2rem;
	font-size: 1.4rem;
}

.about__text {
	color: var(--main-black);
	border: 2px solid;
	border-image: linear-gradient(45deg, var(--main-red), #ecc3c2) 1;
	background: #e0dcd1;
	padding: 0.1rem 1.3rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-family: 'Satisfy', cursive;
	font-size: 1.6rem;
	font-weight: bold;
}
.about > p {
	margin-bottom: 2rem;
}
/* quoteBlock */

.quote__container {
	min-height: 12rem;
	overflow: hidden;
	color: var(--letter-black);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--game-two);
}

.quote {
	padding: 2rem;
	font-size: 1.3rem;
	border: 3px solid black;
	border-top-left-radius: 120px 24px;
	border-top-right-radius: 120px 24px;
	border-bottom-left-radius: 120px 24px;
	border-bottom-right-radius: 120px 24px;
	background-color: #dfdcd2;
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.quote__text {
	margin: 0;
}
.quote__author {
	font-weight: bold;
}
.svg__hor--red {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* transition block */
.transition {
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.transition__svg {
}
.transition__svg > img {
	max-width: 100%;
	height: 4rem;
}
.game0 {
	background: linear-gradient(
		to top,
		#ccba9a,
		#d3c8ac,
		#dbd5bf,
		#e4e2d3,
		#efefe6
	);
}
.game2 {
	background: linear-gradient(
		to top,
		#f0f0e6,
		#efefe6,
		#efefe5,
		#eeeee5,
		#edede4
	);
}
.game3 {
}

/* game block */

.game {
	padding: 1rem;
	/* background-color: #2f4858; */
	min-height: 40vh;
	max-height: fit-content;
	/* height: fit-content; */
}
.game__title {
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 2rem;
}
.game__number {
	font-style: italic;
}
.game__name {
	text-decoration-line: overline;
	text-decoration-color: var(--main-red);
}
.game__interface {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: all ease 0.3s;
}

.btn__participate {
	background-color: transparent;
	font-size: 1.3rem;
	font-weight: bold;
	outline: none;
	padding: 0.3rem;
	border: 2px solid var(--main-red);
	letter-spacing: 0.2rem;
	cursor: pointer;
	transition: all ease 0.3s;
}
.btn__participate:hover {
	background-color: var(--main-red-light);
	color: var(--main-white);
	letter-spacing: 0.15rem;
}

.money__input {
	transition: all ease 0.3s;
	border: 2px solid var(--main-red);
	font-size: 1.3rem;
	font-weight: bold;
	width: 8rem;
	height: 2.4rem;
	outline: none;
	background-color: transparent;
	appearance: none;
}
.money__input:focus {
	background-color: var(--main-red-light);
	color: var(--main-white);
}
.btn__bet {
	transition: all ease 0.3s;
	background-color: transparent;
	font-size: 1.3rem;
	font-weight: bold;
	outline: none;
	padding: 0.3rem;
	border: 2px solid var(--main-red);
	letter-spacing: 0.2rem;
	cursor: pointer;
	width: 5rem;
}
.btn__bet:hover {
	background-color: var(--main-red-light);
	color: var(--main-white);
	letter-spacing: 0.15rem;
}
.btn__play {
	transition: all ease 0.3s;
	background-color: transparent;
	font-size: 1.3rem;
	font-weight: bold;
	outline: none;
	padding: 0.3rem;
	border: 2px solid var(--main-red);
	letter-spacing: 0.2rem;
	cursor: pointer;
	width: 5rem;
}
.btn__play:hover {
	background-color: var(--main-red-light);
	color: var(--main-white);
	letter-spacing: 0.15rem;
}
.game__container {
	border: 2px solid var(--main-white);
	height: fit-content;
	border-radius: 0.3rem;
	padding: 1rem;
	background-color: var(--main-black);
	transition: all ease-in 0.4s;
}
.bet__container {
	display: flex;
	justify-content: right;
}
.balance__bet {
	border: 2px solid var(--main-red);
	border-radius: 0.2rem;
	background-color: var(--main-red-light);
	width: 15rem;
	padding: 0.2rem;
	font-style: italic;
}
.bet__amount {
	color: var(--main-white);
	margin-left: 0.5rem;
}

/* Game Zero */

.game__zero {
	background: var(--game-zero);
	min-height: 30rem;
}

.game__zero-title {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--main-white);
	margin-bottom: 1rem;
}
.questions__blockg0 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	flex-wrap: wrap;
}

.g0__question {
	position: relative;
	z-index: 1;
	border-radius: 0.3rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 25rem;
	min-height: 15rem;
	background: #d4bf9f;
	background-color: #d4bf9f;
	text-align: center;
	transition: all ease 0.4s;
	cursor: pointer;
}
.g0__question:hover {
	background: #b47654;
}
.g0__question:hover > .g0__text {
	color: var(--main-white);
}
.g0__icon img {
	max-width: 100%;
}
.g0__icon {
	border: 1px solid var(--main-white);
	border-radius: 1rem;
	overflow: hidden;
	width: 100px;
	height: 100px;
	pointer-events: none;
}

.g0__text {
	font-weight: bold;
	pointer-events: none;
}
.expose__liar {
	position: absolute;
	font-size: 2rem;
	background-color: var(--main-red);
	border-radius: 0.3rem;
	color: var(--main-white);
	width: 60%;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.3rem;
	padding: 0.1rem 0.5rem;
	top: 2%;
	transition: all ease-in 0.4s;
	pointer-events: none;
}
.g0__result {
	border: 3px solid var(--main-red);
	font-size: 1.3rem;
	margin: 0 auto;
	margin-top: 1rem;
	text-align: center;
	padding: 0.3rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.g0__result-text {
	font-style: italic;
}
.g0__result-amount {
	margin-left: 1rem;
	margin-right: 1rem;
	color: var(--main-red);
}

/* Game one */
.game__one {
	background: var(--game-zero);
	min-height: 30rem;
}
.game__one-title {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--main-white);
	margin-bottom: 1rem;
}
.game__one-art {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}
.art > img {
	max-width: 100%;
	pointer-events: none;
}
.art {
	overflow: hidden;
	border: 3px solid var(--main-white);
	border-radius: 0.5rem;
	width: 30rem;
	height: 35rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
.art:hover {
	-webkit-box-shadow: 1px 2px 20px 10px rgb(209, 192, 161, 1);
	box-shadow: 1px 2px 20px 10px rgb(209, 192, 161, 1);
}
.artist {
	position: absolute;
	color: var(--main-red);
	background-color: var(--main-white);
	width: 60%;
	font-weight: bold;
	bottom: 10%;
	text-align: center;
	font-size: 2rem;
	font-style: italic;
	padding: 0.3rem;
	border-radius: 0.2rem;
}

/* Game two */
.game__two-title {
	color: var(--main-white);
	text-align: center;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.game__two {
	background: var(--game-two);
	min-height: 30rem;
}
.game2__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
/* container for wheel buttons and result */
.wheel__elements {
	position: relative;
	border-radius: 0.3rem;
	height: 40rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}

.spinner__container {
	position: relative;
	width: min-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* the wheel itself */
.spinner__wheel {
	border: 1px solid white;
	box-shadow: 0px 0px 25px 14px rgba(247, 247, 247, 0.75);
	-webkit-box-shadow: 0px 0px 25px 14px rgba(247, 247, 247, 0.75);
	-moz-box-shadow: 0px 0px 25px 14px rgba(247, 247, 247, 0.75);
	height: calc(var(--diameter) - 2px);
	width: calc(var(--diameter) - 2px);
	position: relative;
	border-radius: 100%;
	overflow: hidden;
	transition: all cubic-bezier(0.44, -0.205, 0, 1.13) 5s;
}

.spinner__wheel > img {
	max-width: 100%;
}
.slice {
	overflow: hidden;
}
.wedge {
	width: 0;
	height: 0;
	border-top: calc(var(--radius) + 2px) solid transparent;
	border-right: calc(var(--radius) + 2px) solid var(--slice1-color);
	border-bottom: calc(var(--radius) + 2px) solid transparent;
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.wedge__text {
	position: absolute;
	left: 60px;
	font-weight: bold;
	font-size: 1.3rem;
}
.wedge__bottom {
	border-right: calc(var(--radius) + 2px) solid var(--slice2-color);
	transform-origin: left center;
	transform: rotate(90deg);
}
.wedge__left {
	border-right: calc(var(--radius) + 2px) solid var(--slice3-color);
	transform-origin: left center;
	transform: rotate(180deg);
}
.wedge__top {
	border-right: calc(var(--radius) + 2px) solid var(--slice4-color);
	transform-origin: left center;
	transform: rotate(270deg);
}
.center__cover {
	position: absolute;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	border-radius: 100%;
	background-color: white;
	border: 2px solid black;
	width: 50px;
	height: 50px;
}

.pointer {
	position: absolute;
	top: auto;
	bottom: auto;
	right: -15px;
	width: 0;
	height: 0;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid rgb(243, 232, 232);
	border-bottom: 25px solid transparent;
	z-index: 10;
}
.spin__button {
	background-color: var(--main-white);
	outline: none;
	border: none;
	font-size: 1.3rem;
	font-weight: bold;
	padding: 0.3rem 0.6rem;
	border-radius: 0.2rem;
	width: 6rem;
	height: 3rem;
	cursor: pointer;
	position: relative;
	color: var(--main-red);
}
.spin__button:hover {
	box-shadow: 0px 0px 15px 1px rgba(255, 247, 247, 0.75);
	-webkit-box-shadow: 0px 0px 15px 1px rgba(255, 247, 247, 0.75);
	-moz-box-shadow: 0px 0px 15px 1px rgba(255, 247, 247, 0.75);
}
.game2__results {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	max-width: 32rem;
}
.game2__results-message {
	border: 2px solid var(--main-red);
	background-color: var(--main-white);
	font-size: 1.5rem;
	font-style: italic;
	padding: 0.3rem;
	font-weight: bold;
}
.wheel__msg {
	color: var(--main-red);
	margin-left: 0.5rem;
}

/* Game three */
.game__three {
	background-color: var(--game-three);
}
.game__four {
	background-color: var(--game-four);
}

/* Tabs content */

.tabs__container {
	padding: 1rem;
	background: var(--game-zero);
}
.label__container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: fit-content;
	gap: 2px;
}
#tab1,
#tab2,
#tab3 {
	display: none;
}

.tab1__title,
.tab2__title,
.tab3__title {
	padding: 1rem;
	max-width: 11rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
	background-color: var(--main-red-light);
	cursor: pointer;
	position: relative;
	z-index: 2;
	bottom: -3px;
}
#tab1:checked ~ .tab1__title {
	background-color: #d0bfa0;
	border: 3px solid var(--main-red);
	border-bottom: 3px solid #d0bfa0;
}
#tab2:checked ~ .tab2__title {
	background-color: #d0bfa0;
	border: 3px solid var(--main-red);
	border-bottom: 3px solid #d0bfa0;
}
#tab3:checked ~ .tab3__title {
	background-color: #d0bfa0;
	border: 3px solid var(--main-red);
	border-bottom: 3px solid #d0bfa0;
}
.tab__text-container {
	border: 3px solid var(--main-red);
	min-height: 22rem;
}
.tab__text {
	transition: all ease-in 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	line-height: 2rem;
}

/* character cards */
.cards__container {
	border: 1px solid var(--main-black);
	margin: 0 auto;
	height: 30rem;
	gap: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
}
.card {
	max-width: 400px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 6px solid var(--main-red);
	border-radius: 0.2rem;
	cursor: pointer;
	transition: background 0.8s;
	box-shadow: 0 70px 63px -60px #000000;
}
.cards__title {
	color: rgb(173, 6, 6);
	opacity: 0.5;
	transition: all ease 0.4s;
}
.cards__text {
	font-size: 1.2rem;
	opacity: 0;
	transition: all ease 0.4s;
	padding: 1rem;
	text-align: left;
	font-weight: bold;
}

.card1 {
	background: url(../images/akiyama.jpg) center center no-repeat;
	background-size: cover;
	color: var(--letter-black);
}
.card2 {
	background: url(../images/kanzaki.jpg) center center no-repeat;
	background-size: 400px;
	color: var(--letter-black);
}
.card3 {
	background: url(../images/fukunaga.jpg) center center no-repeat;
	background-size: cover;
	color: var(--letter-black);
}

.card1:hover {
	background: url(../images/akiyama.jpg) center left no-repeat;
	background-size: 600px;
}
.card2:hover {
	background: url(../images/kanzaki.jpg) center center no-repeat;
	background-size: 600px;
}
.card3:hover {
	background: url(../images/fukunaga.jpg) center right no-repeat;
	background-size: 600px;
}

.card:hover > .cards__title {
	opacity: 1;
}
.card:hover > .cards__text {
	opacity: 1;
	background-color: #e2b4a6;
}

/* Footer */
.footer {
	/* border: 2px solid white; */
	background-color: var(--main-black);
	padding: 1rem;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
.footer__more {
	height: 5rem;
	background-color: var(--main-red);
	margin-bottom: 1rem;
}
.footer__author {
	/* border: 1px solid #ffffff; */
	width: 100%;
	color: var(--main-white);
	/* display: flex;
	justify-content: space-between; */
	display: grid;
	grid-template-columns: auto 1fr;
}
.author__greet {
	display: flex;
	align-items: center;
	justify-content: center;
}
.love__logo {
	margin-left: 1rem;
	margin-right: 1rem;
}
.author__name {
	margin-left: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: 2rem;
}
.author__social {
	/* border: 2px solid white; */
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

/* Display properties */

.displayNone {
	display: none;
}
.noOpacity {
	opacity: 0;
}
.noClick {
	pointer-events: none;
}

/* Animations */

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fade {
	animation: fadeOut 4s ease;
}
@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fadeInOut {
	animation: fadeInOut 6s ease;
}

@media only screen and (max-width: 500px) {
	.inputWrapper {
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		gap: 0;
	}
	.login__clue {
		margin: 0;
	}
	.login__svg--vert {
		height: 5rem;
		width: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(90deg);
		margin: 0 auto;
	}
	.login__svg--hor {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
	}
	.login__hint {
		font-size: 1rem;
	}
	.login__wrong-pass {
		margin-bottom: 1rem;
		margin-top: 0;
	}
	.footer__author {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	:root {
		--diameter: 250px;
	}
}

.fadeIn {
	animation: fadeIn 3s ease-in;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 800px) {
	.nav__ul {
		position: absolute;
		display: none;
		display: flex;
		flex-direction: column;
		background-color: var(--main-black);
		padding: 1rem;
		width: 14rem;
		top: 6.3rem;
		left: -20rem;

		transition: all ease-in-out 0.4s;
	}
	.top__nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.burger__label {
		margin-right: 1rem;
		/* border: 1px solid tomato; */
		height: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		/* position: relative; */
	}

	.burger__menu {
		transition: all ease-in-out 0.4s;
		position: relative;
		width: 4rem;
		height: 0.5rem;
		background-color: rgb(203, 198, 198);
		top: 1rem;
	}
	.burger__menu::before {
		transition: all ease-in-out 0.4s;
		content: '';
		width: 4rem;
		height: 0.5rem;
		background-color: rgb(203, 198, 198);
		position: absolute;
		top: -1rem;
	}
	.burger__menu::after {
		transition: all ease-in-out 0.4s;
		content: '';
		width: 4rem;
		height: 0.5rem;
		background-color: rgb(203, 198, 198);
		position: absolute;
		bottom: 2rem;
	}

	.burger__label:hover > .burger__menu {
		background-color: rgb(234, 227, 227);
	}

	.burger__label:hover > .burger__menu::before {
		background-color: rgb(234, 227, 227);
	}
	.burger__label:hover > .burger__menu::after {
		background-color: rgb(234, 227, 227);
	}

	#burger__check:checked ~ .burger__menu {
		background-color: var(--main-white);
		transform: translate(0, 0.5rem) rotate(0deg);
		border-radius: 0.2rem;
	}
	#burger__check:checked ~ .burger__menu::before {
		width: 3.8rem;
		background-color: var(--main-white);
		transform: translate(-0.75rem, -0.52rem) rotate(121deg);
		border-radius: 0.2rem;
	}
	#burger__check:checked ~ .burger__menu::after {
		width: 3.8rem;
		background-color: var(--main-white);
		transform: translate(0.98rem, 0.48rem) rotate(-121deg);
		border-radius: 0.2rem;
	}

	#burger__check:checked ~ .nav__ul {
		transition: all ease-in-out 0.4s;
		z-index: 10;

		transform: translateX(20rem);
	}
	.player__balance {
		display: block;
	}
	.cards__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
	}
	.card {
		height: 400px;
	}
}
